.jimu-widget-nearby {
    width: 100%;
    height: 100%;
    position: relative;
}

.jimu-widget-nearby .dijitSelect {
    height: 20px;
    width: 100%;
}

.jimu-widget-nearby .nearbyNodes {
    margin-bottom: 5px;
}

.jimu-widget-nearby .findCentrePointDijit .horizontalMenu {
    /*overflow: auto;*/
    display: flex;
    flex-wrap: wrap;
    border: 1px solid orange;
    padding: 2px;
    border-radius: 5px;
    /*height: auto;*/
    width: auto;
    align-items: center;
}

.jimu-widget-nearby .findCentrePointDijit .horizontalMenu > div {
    float: left;
    margin: 0.3em;
}

.jimu-widget-nearby .subHeadingTitle {
    margin-bottom: 2px;
    font-family: Helvetica;
    font-size: 15px;
    background: linear-gradient(#FFA62F, #fdebd0);
    color: black;
    height: 27px;
    border-radius: 5px;
    padding: 2px;
    padding-left: 6px;
    display: table;
    width: 100%;
}

.jimu-widget-nearby .subHeadingTitle label {
    display: table-cell;
    width: 100%
}

.jimu-widget-nearby .findCentrePointDijit .findCentrePointButtons,
.jimu-widget-nearby .POIListDijit .searchListButtons{
    margin: 0 !important;
}

.jimu-widget-nearby .findCentrePointDijit .specifyLocationIcon {
    background-image: url(../images/specify-location-icon.png);
    background-repeat: no-repeat;
    background-size: 26px;
    width: 26px;
    height: 26px;
    text-align: center;
}

.jimu-widget-nearby .findCentrePointDijit .clearIcon {
    background-image: url(../images/clear-icon.png);
    background-repeat: no-repeat;
    background-size: 26px;
    width: 26px;
    height: 26px;
    text-align: center;
}

.jimu-widget-nearby .searchLocation input {
    width: auto !important;
}

.jimu-widget-nearby .nearbySetBufferContainer {
    margin-top: 10px;
    clear: both;
    min-width: 60px;
    max-width: 250px;
    display: inline-block;
}

.jimu-widget-nearby .nearbyBufferRadiusText {
    font-size: 12px;
    /*color: #000000;*/
    font-weight: normal;
}

.jimu-widget-nearby .nearbyBufferRadiusSlider {
    width: 100%;
    margin-top: 10px;
}

.jimu-widget-nearby .nearbyBufferRadiusValuesDiv {
    margin-top: 5px;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.jimu-widget-nearby .nearbyBufferRadiusMinValueDiv {
    display: table-cell;
    margin-left: 2px;
    text-align: left;
}

.jimu-widget-nearby .nearbyBufferRadiusMaxValueDiv {
    display: table-cell;
    text-align: right;
    margin-right: 2px;
}

.jimu-widget-nearby .nearbyBufferRadiusTextboxDiv {
    display: table-cell;
    text-align: center;
    align-items: center;
}

.jimu-widget-nearby .nearbyBufferRadiusTextboxDiv > div {
    width: 100%;
}

.jimu-widget-nearby #nearbyBufferRadiusTextbox {
    width: 35px;
}

.jimu-widget-nearby .POICellDijit {
    width: 90px;
    height: 90px;
    border: 1px solid grey;
    padding: 4px;
    border-radius: 6px;
    display: inline-block;
    margin: 3px;
    flex: 0 1 auto;
}

.jimu-widget-nearby .poiIconImage {
    width: 60px;
    height: 60px;
    background-size: 60px;
    background-repeat: no-repeat;
}

.jimu-widget-nearby .poiCellTitle {
    font-size: 11px;
    overflow: hidden;
    text-align: center;
    margin-left: -7px;
    font-family: Verdana,Arial,sans-serif;
}

.jimu-widget-nearby .poiCellTitleDoubleRow {
    font-size: 9px;
    line-height: 120%;
    margin-top: -6px;
    overflow: visible
}

.jimu-widget-nearby .poiCellSidebar {
    width: 18px;
    height: 60px;
    font: 11px arial, sans-serif;
    text-align: center;
    font-weight: 800;
    text-shadow: 0 0 6px #ffffff;
    color: midnightblue;
}

.jimu-widget-nearby .poiCellCheckbox {
    vertical-align: top;
}

.jimu-widget-nearby .POICellDijitSelected {
    box-shadow: 0 0 6px #57feff;
    border-color: #ffbb2f;
    border-width: 2px;
}

.jimu-widget-nearby .POIRowDijit {
    width: 100%;
    height: 50px;
    border: 2px solid orange;
    padding: 4px;
    border-radius: 3px;
    display: inline-block;
}

.jimu-widget-nearby .POIRowDijit .flex-container {
    display: flex;
    flex-direction: row;
}

.jimu-widget-nearby .poiRowIcon {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    flex: 0 1 auto;
}

.jimu-widget-nearby .poiRowDetails {
    max-height: 35px;
    overflow-y: hidden;
    flex: 1 1 auto;
    font-size: 14px;
    padding-left: 8px;
}

.jimu-widget-nearby .poiRowDistance {
    flex: 0 1 40px;
    font-size: 11px;
    text-align: right;
}

.poiRowTooltipDialog {
    min-width: 170px;
}

.jimu-widget-nearby .POIListDijit .dgrid-scroller,
.jimu-widget-nearby .POIListDijit .dgrid-list {
    /*max-height: 300px;*/
}

.jimu-widget-nearby .POIGridDijit .nearbyPoiGrid {
    /*max-height: 300px;*/
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.jimu-widget-nearby .fieldsetContainer {
    transition: height 250ms linear;
    overflow: auto;
}

.jimu-widget-nearby #centrePointToggle,
.jimu-widget-nearby #nearbyGridToggle,
.jimu-widget-nearby #nearbyListToggle {
    display: none;
}

.jimu-widget-nearby #centrePointToggle:checked ~ .fieldsetContainer,
.jimu-widget-nearby #nearbyGridToggle:checked ~ .fieldsetContainer,
.jimu-widget-nearby #nearbyListToggle:checked ~ .fieldsetContainer {
    height: 0;
    padding: 0;
    border: none !important;
}

.jimu-widget-nearby #centrePointToggle:checked ~ .subHeadingTitle,
.jimu-widget-nearby #nearbyGridToggle:checked ~ .subHeadingTitle,
.jimu-widget-nearby #nearbyListToggle:checked ~ .subHeadingTitle {
    background: #FFA62F;
}

.jimu-widget-nearby label .arrow-dn {
    display: none;
}

.jimu-widget-nearby label .arrow-up {
    display: inline-block;
}

.jimu-widget-nearby #centrePointToggle:checked ~ .subHeadingTitle label .arrow-dn,
.jimu-widget-nearby #nearbyGridToggle:checked ~ .subHeadingTitle label .arrow-dn,
.jimu-widget-nearby #nearbyListToggle:checked ~ .subHeadingTitle label .arrow-dn {
    display: inline-block;
}

.jimu-widget-nearby #centrePointToggle:checked ~ .subHeadingTitle label .arrow-up,
.jimu-widget-nearby #nearbyGridToggle:checked ~ .subHeadingTitle label .arrow-up,
.jimu-widget-nearby #nearbyListToggle:checked ~ .subHeadingTitle label .arrow-up {
    display: none;
}

.jimu-widget-nearby .POIListDijit .searchBar{
    height: 32px;
    padding-left: 5px;
    background: linear-gradient(#FEC373, #fdebd0);
    border-top: 1px solid #fdebd0 ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jimu-widget-nearby #nearbyListToggle:not(:checked) ~ .subHeadingTitle{
    margin-bottom: 0;
    background: linear-gradient(#FFA62F, #FEC373);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.jimu-widget-nearby .POIListDijit .searchBarFlexItem{
    align-self: center;
    margin: 3px;
}

.jimu-widget-nearby .POIListDijit .nearbySearchFiller{
    flex-grow:2;
}

.jimu-widget-nearby .POIListDijit  #nearbyTotalListPois{
    margin-right: 10px;
}

.jimu-widget-nearby .POIListDijit .searchFilterDialogButton{
    height: 26px;
}

.nearbySearchPoisIcon{
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
}

/* The switch - the box around the slider */
.jimu-widget-nearby .POIListDijit .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.jimu-widget-nearby .POIListDijit .flipswitch {
    position: relative;
    width: 58px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.jimu-widget-nearby .POIListDijit .flipswitch input[type=checkbox] {
    display: none;
}
.jimu-widget-nearby .POIListDijit .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #CCCCCC;
    border-radius: 29px;
}
.jimu-widget-nearby .POIListDijit .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.jimu-widget-nearby .POIListDijit .flipswitch-inner:before,
.jimu-widget-nearby .POIListDijit .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 16px;
    font-size: 11px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.jimu-widget-nearby .POIListDijit .flipswitch-inner:before {
    content: "Filter";
    padding-left: 8px;
    background-color: #47A041; /* #49A329; #459E68;*/
    color: #FFFFFF;
}
.jimu-widget-nearby .POIListDijit .flipswitch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}
.jimu-widget-nearby .POIListDijit .flipswitch-switch {
    width: 18px;
    margin: -1px;
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 29px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 41px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.jimu-widget-nearby .POIListDijit .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
}
.jimu-widget-nearby .POIListDijit .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
}

#nearbySearchTooltipContainer{
    border: 2px solid orange;
    padding: 7px;
}

#nearbySearchTooltipContainer .searchTextBoxLabel{
    margin-right: 10px;
    font-weight: bold ;
}

#nearbySearchTooltipContainer .allFieldsSearchLabel{
    font-style: italic;
}

#nearbySearchTooltipContainer .searchInfoIcon {
    content:url(../images/info-icon.png);
    background-image: url(../images/info-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

#nearbySearchTooltipContainer .advancedSearchTitlePane{
    margin-top: 7px;
}

#nearbySearchTooltipContainer .advancedSearchContents {
    display: flex;
    align-items: flex-start;
}

#nearbySearchTooltipContainer .advancedSearchContents > div{
    flex-grow: 1;
}

#nearbySearchTooltipContainer .otherSettingsColumn input {
    vertical-align: top;
    display: inline-block;
}

#nearbySearchTooltipContainer .searchCurrentExtentCbLabel{
    max-width: 120px;
    vertical-align: top;
    display: inline-block;
}