<div class="nearbyDijit">
    <div data-dojo-attach-point="findCentrePointNode" class="nearbyNodes"></div>
    <div data-dojo-attach-point="poiGridNode" class="nearbyNodes"></div>
    <div data-dojo-attach-point="poiListNode" class="nearbyNodes"></div>
</div>