<div class="findCentrePointDijit" data-dojo-attach-point="findCentrePointDijit">
    <input type="checkbox" id="centrePointToggle" data-dojo-attach-point="centrePointToggle"
           data-dojo-attach-event="onchange:onExpanderToggled"/>
    <div class="subHeadingTitle">
        <label for="centrePointToggle">
        <span>
            <span class="changeArrow arrow-up"><b>∧</b></span>
            <span class="changeArrow arrow-dn"><b>∨</b></span>
            ${nls.findCentrePointTitle}
        </span>
        </label>
    </div>
    <div class="horizontalMenu fieldsetContainer" data-dojo-attach-point="horizontalMenuNode">
        <div>
            <div data-dojo-attach-point="currentLocationButton"></div>
        </div>
        <div>
            <div data-dojo-type="dijit/form/Button" class="findCentrePointButtons"
                 data-dojo-props="iconClass:'specifyLocationIcon',showLabel:false"
                 data-dojo-attach-event="onClick:specifyLocationClick">${nls.findCentrePoint_SpecifyLocation}
            </div>
        </div>
        <div>
            <div data-dojo-type="dijit/form/Button" class="findCentrePointButtons"
                 data-dojo-props="iconClass:'clearIcon',showLabel:false"
                 data-dojo-attach-event="onClick:clearClick">${nls.findCentrePoint_Clear}
            </div>
        </div>
        <div class="searchLocation">
            <div data-dojo-attach-point="searchLocationNode"></div>
        </div>
        <div class="nearbySetBufferContainer">
            <div data-dojo-attach-point="nearbyBufferRadiusText" class="nearbyBufferRadiusText"></div>
            <div data-dojo-attach-point="nearbyBufferRadiusSlider"></div>
            <div class="nearbyBufferRadiusValuesDiv">
                <div class="nearbyBufferRadiusMinValueDiv nearbyBufferRadiusText"
                     data-dojo-attach-point="nearbyBufferRadiusMinValue"></div>
                <div class="nearbyBufferRadiusTextboxDiv">
                    <div>
                        <input type="text" name="nearbyBufferRadiusSet" data-dojo-type="dijit/_WidgetBase"
                               title="${nls.nearbyBufferRadiusTextboxTooltip}" id="nearbyBufferRadiusTextbox"
                               data-dojo-attach-point="nearbyBufferRadiusTextboxAttach">
                    </div>
                </div>
                <div class="nearbyBufferRadiusMaxValueDiv nearbyBufferRadiusText"
                     data-dojo-attach-point="nearbyBufferRadiusMaxValue"></div>
            </div>
        </div>
    </div>
</div>