<div class="POICellDijit" data-dojo-attach-point="POICellNode">
    <div class="poiCell" data-dojo-attach-event="onClick:poiCellClick">
        <table>
            <tbody>
            <tr>
                <td>
                    <img src="" class="poiIconImage" data-dojo-attach-point="POICellImageNode">
                </td>
                <td>
                    <div class="poiCellSidebar" style="display:flex; flex-direction: column; align-items: flex-end">
                        <input class="poiCellCheckbox" unchecked onClick="return false;"
                               style="flex-grow:1; align-self: flex-end; margin-top: -5px"
                               data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="POICellCheckbox"/>
                        <div style="flex-grow:2"></div>
                        <div style="flex-grow:3; padding-right: 2px" data-dojo-attach-point="PoiCatFeatureCount">
                            </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="poiCellTitle" data-dojo-attach-point="POICellTitle"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>