<div class="POIGridDijit" data-dojo-attach-point="POIGridDijitNode">
    <input type="checkbox" id="nearbyGridToggle" data-dojo-attach-point="nearbyGridToggle"
           data-dojo-attach-event="onchange:onExpanderToggled"/>
    <div class="subHeadingTitle" data-dojo-attach-point="subHeadingTitle">
        <label for="nearbyGridToggle">
        <span>
            <span class="changeArrow arrow-up"><b>∧</b></span>
            <span class="changeArrow arrow-dn"><b>∨</b></span>
            ${nls.POIGridTitle}
        </span>
        </label>
    </div>
    <div data-dojo-attach-point="nearbyPoiGrid" class="nearbyPoiGrid fieldsetContainer"></div>
</div>