<div class="POIListDijit" data-dojo-attach-point="POIListDijit">
    <input type="checkbox" id="nearbyListToggle" data-dojo-attach-point="nearbyListToggle"
           data-dojo-attach-event="onchange:onExpanderToggled"/>
    <div class="subHeadingTitle" data-dojo-attach-point="subHeadingTitle">
        <label for="nearbyListToggle">
        <span>
            <span class="changeArrow arrow-up"><b>∧</b></span>
            <span class="changeArrow arrow-dn"><b>∨</b></span>
            ${nls.POIListTitle}
        </span>
        </label>
    </div>
    <div data-dojo-attach-point="nearbyPoiListContainer" class="fieldsetContainer">
        <div class="searchBar" data-dojo-attach-point="nearbySearchBar">
            <div data-dojo-type="dijit/form/DropDownButton" class="searchFilterDialogButton searchBarFlexItem">
                <span>${nls.searchFilterButton}</span>
                <div data-dojo-type="dijit/TooltipDialog" id="nearbySearchTooltipDialog"
                     data-dojo-attach-point="nearbySearchTooltipDialog"
                     data-dojo-attach-event="onClose:onSearchTooltipClose">
                    <div id="nearbySearchTooltipContainer">
                        <div>
                            <label class="searchTextBoxLabel" for="nearbySearchTextBox">${nls.searchTextBox}</label>
                            <input data-dojo-type="dijit/form/TextBox" id="nearbySearchTextBox"
                                   data-dojo-attach-point="nearbySearchTextBox" name="searchTextBoxNm"
                                   data-dojo-attach-event="onKeyDown:onSearchTextBoxKeyDown"
                                   data-dojo-props="style: 'min-width: 100px;'"/>
                            <div data-dojo-type="dijit/form/Button" type="submit"
                                 data-dojo-props="iconClass:'nearbySearchPoisIcon',showLabel:false"
                                 class="searchListButtons" data-dojo-attach-event="onClick:onSearchClick">
                                ${nls.searchTextBox}
                            </div>
                            <div class="searchInfoIcon" style="display: inline-block" id="nearbySearchInfo"
                                 data-dojo-attach-event="onClick:onSearchInfoClick">
                            </div>
                        </div>
                        <div class="advancedSearchTitlePane" data-dojo-type="dijit/TitlePane"
                             data-dojo-props="title: '${nls.searchAdvancedSectionTitle}', open: false">
                            <div class="advancedSearchContents">
                            <div>
                                <p><b>${nls.selectSearchFields}</b></p>
                                <div>
                                    <input data-dojo-type="dijit/form/CheckBox"
                                           data-dojo-attach-point="nearbySearchAllCheckbox"
                                           name="allcheck" id="nearbySearchAllCheckbox"
                                           data-dojo-attach-event="onChange:onAllCheckChange"/>
                                    <label class="allFieldsSearchLabel"
                                           for="nearbySearchAllCheckbox">${nls.allFieldsSearch}</label>
                                </div>
                                <div data-dojo-attach-point="nearbySearchCheckboxList"
                                     id="nearbySearchCheckboxList"></div>
                            </div>
                            <div class="otherSettingsColumn">
                                <p><b>${nls.otherSearchSettings}</b></p>
                                <div>
                                    <input data-dojo-type="dijit/form/CheckBox" checked
                                           data-dojo-attach-point="searchCurrentExtentCheckbox"
                                           name="searchCurrentExtentCb" id="searchCurrentExtentCheckbox"
                                           data-dojo-attach-event="onChange:onSearchCurrentExtentCbChange"/>
                                    <label class="searchCurrentExtentCbLabel"
                                           for="searchCurrentExtentCheckbox">${nls.searchCurrentExtent}</label>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flipswitch searchBarFlexItem" title="${nls.filterResultsToggleTooltip}">
                <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="nearbyFilterToggle"
                       data-dojo-attach-event="onClick:onFilterToggleClick">
                <label class="flipswitch-label" for="nearbyFilterToggle">
                    <div class="flipswitch-inner"></div>
                    <div class="flipswitch-switch"></div>
                </label>
            </div>
            <div class="nearbySearchFiller"></div>
            <div class="searchBarFlexItem" id="nearbyTotalListPois" data-dojo-attach-point="totalListPois">
            </div>
        </div>
        <div data-dojo-attach-point="nearbyPoiList"></div>
    </div>
</div>