<div class="POIRowDijit" data-dojo-attach-point="POIRowNode">
    <div class="flex-container" data-dojo-attach-point="POIRowContainerNode">
        <img src="" class="poiRowIcon" data-dojo-attach-point="POIRowIconNode">
        <div class="poiRowDetails" data-dojo-attach-point="POIRowDetailsNode">
        </div>
        <div class="poiRowDistance" data-dojo-attach-point="POIRowDistanceNode">
        </div>
    </div>
</div>